<div class="m-5">
		<div class="table-responsive bg-white rounded border border-success p-2">
		<div >
			<h1 class="text-center">Emoloyess</h1>
		</div>

		<div>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Employees Name</th>
					
					
				</tr>
				<% @employees.each do |employee| %>
				<div class="row">
					<tr>
						<td><%= employee.user_id %></td>
						<td><%= employee.name %></td>
						
						</tr>
					</div>
					<% end %>

				</table>
			</div>  
		</div>
</div>