	<div>
		<div>
			<h1 >Emoloyess</h1>
		</div>

		<div>
			<table>
				<tr>
					<th>ID</th>
					<th>Employees Name</th>
				</tr>
				<% @Employee.each do |employee| %>
				<div class="row">
					<tr>
						<td><%= employee.name %></td>
						<td><%= employee.user_id %></td>
						<td class="col-6">
							<%= link_to 'Show', employee_path(employee)%>
							<%= link_to 'Edit', edit_employee_path(employee)%>
						</tr>
					</div>
					<% end %>

				</table>
			</div>  
		</div>

